@import './_vars'

body
    background-color: $clr-primary-500
    font-family: 'Inter', sans-serif

    color: $clr-secondary-500

    overflow: hidden

.wrapper
    width: 100%
    min-height: 95vh

.main
    width: 100%

    &__wrapper
        margin: 0 auto
        max-width: 90rem

        & > *+*
            margin-left: $gap-600
